.breadcrumb {
  padding: 0 0 5px;
  margin-bottom: 15px;
  border-radius: 0;
  background: none;
  border-bottom: 1px solid theme-color('gray');
  .fileTrailDividers {
    margin: 0 8px;
  }
}